<%-include("include/_header") %>

<main id="site-main">
    <div class="container">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th>#</th>
                    <th>Zivotinja</th>
                    <th>Link</th>
                </tr>
            </thead>
            <tbody>
                <% for(var i = 0; i < croatianNames.length; i++) { %>
                <tr>
                    <td><%= i + 1 %></td>
                    <td><%= croatianNames[i] %></td>
                    <td>
                        <a href="/ar/<%= arrayOfAnimals[i] %>" target="_blank" class="btn border-shadow update"/>
                            <span class="text-gradient"><i class="fas fa-search"></i></span>
                        </a>
                    </td>
                    <% } %>
            </tbody>
        </table>

    </div>
</main>

<%-include("include/_footer") %>